header
{
    height: 100px;
    width: 99%;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
a
{
    text-decoration: none;
    color: #6a0dad;
}
.logo
{
    width: 25%;
    height: 50px;
    padding-top: 1%;
    float: left;
    display: block;
    font-size: 30px;
}
.image
{
    height: 50px;
    width: 15%;
    float: left;
    margin-left: 50%;
    margin-right: 2%;
}
.logo-text
{
    height: 70px;
    width: 30%;
    display: flex;
    padding-top: 2.5%;
    font-family:monospace; 
    color: #6a0dad;
    font-weight: bold;
}
.icon-container
{
    width: 60%;
    display: flex;
    float: left;
    margin-top: 2.5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #6a0dad;
}
.basket img
{
    width: 3%;
    height: 40px;
    padding-top: 1.75%;
    display: flex;
}
main
{
    width: 100%;
    height: 600px;
    justify-content: center;
}
.container
{
    width: 80%;
    height: 400px;
    border-radius: 3px;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
table
{
    width: 80%;
}
.container th, .container td
{
    padding: 12px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.container td
{
    color: #6a0dad;
}
.container th
{
    font-family:monospace; 
    color: #6a0dad; 
    font-size: 20px;
}
.box
{
    width: 38.5%;
    height: 300px;
    border-radius: 3px;
    margin-top: 3%;
    margin-left: 10%;
    display: block;
    float: left;
    justify-content: center;
}
.box h3
{
    font-family:monospace; 
    color: #6a0dad; 
    font-size: 20px;
}
.box table td
{
    padding: 12px;
    color: #6a0dad;
}
.box table tr
{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.payment-btn
{
    font-family: monospace;
    font-size: large;
    color: #1e90ff;
    width: 40%;
    height: 40px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    border-radius: 10px;
}
.box-2
{
    width: 38.5%;
    height: 300px;
    border-radius: 3px;
    margin-top: 3%;
    margin-left: 3%;
    display: block;
    float: left;
    justify-content: center;
}
.box-2 h3
{
    font-family:monospace; 
    color: #6a0dad; 
    font-size: 20px;
}
.box-2 select
{
    width: 30%;
    height: 40px;
    color: #1e90ff;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6a0dad;
}