header
{
    height: 100px;
    width: 99%;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
a
{
    text-decoration: none;
    color: #6a0dad;
}
.logo
{
    width: 25%;
    height: 50px;
    padding-top: 1%;
    float: left;
    display: block;
    font-size: 30px;
}
.image
{
    height: 50px;
    width: 15%;
    float: left;
    margin-left: 50%;
    margin-right: 2%;
}
.logo-text
{
    height: 70px;
    width: 30%;
    display: flex;
    padding-top: 2.5%;
    font-family:monospace; 
    color: #6a0dad;
    font-weight: bold;
}
.icon-container
{
    width: 60%;
    display: flex;
    float: left;
    margin-top: 2.5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #6a0dad;
}
.basket img
{
    width: 3%;
    height: 40px;
    padding-top: 1.75%;
    display: flex;
}
main
{
    width: 100%;
    height: 2110px;
}
.container
{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.head
{
    width: 100%;
    height: 30px;
    font-family:monospace; 
    color: #6a0dad; 
    font-size: 20px;
    padding-left: 2%;
    padding-top: 1%;
    font-weight: bold;
}
.box
{
    width: 20%;
    height: 342px;
    margin: auto;
    margin-left: 4%;
    margin-top: 1%;
    display: block;
    float: left;
    text-align: center;
    font-family: cursive;
    color: #6a0dad;
}
.box img
{
    width: 100%;
    height: 80%;
}
.add
{
    font-family: monospace;
    font-size: large;
    color: #1e90ff;
    margin: auto;
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
