header
{
    height: 100px;
    width: 99%;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
a
{
    text-decoration: none;
    color: #6a0dad;
}
.logo
{
    width: 25%;
    height: 50px;
    padding-top: 1%;
    float: left;
    display: block;
    font-size: 30px;
}
.image
{
    height: 50px;
    width: 15%;
    float: left;
    margin-left: 50%;
    margin-right: 2%;
}
.logo-text
{
    height: 70px;
    width: 30%;
    display: flex;
    padding-top: 2.5%;
    font-family:monospace; 
    color: #6a0dad;
    font-weight: bold;
}
.icon-container
{
    width: 60%;
    display: flex;
    float: left;
    margin-top: 2.5%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #6a0dad;
}
.basket img
{
    width: 3%;
    height: 40px;
    padding-top: 1.75%;
    display: flex;
}
.img-container
{
    width: 25%;
    height: 530px;
    display: flex;
    float: left;
    margin: auto;
    margin-top: 3%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}
.desc-container
{
    width: 50%;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
}
.img-container img
{
    width: 100%;
    height: 100%;
}
.item-name
{
    width: 90%;
    height: 75px;
    display: block;
    font-family:monospace; 
    color: #6a0dad; 
    font-size: 30px;
    padding-left: 2%;
    padding-top: 1%;
    font-weight: bold;
}
.desc
{
    width: 90%;
    height: 75px;
    display: block;
    margin-top: 8%;
    font-family: cursive; 
    color: #6a0dad; 
    padding-left: 2%;
    padding-top: 1%;
}
.desc li 
{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.desc ul 
{
    display: flex;
    height: 45px;
    gap: 10px; 
    padding: 0;
}
.add
{
    font-family: monospace;
    font-size: large;
    color: #1e90ff;
    width: 20%;
    height: 40px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}